<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Add Parcel</title>

    <!--[endif]-->


    <style type="text/css">
        .err {
            color: red;
        }

        .succes {
            color: green;
        }

        .mm {
            margin-left: 30px;
        }
    </style>

</head>

<body>
<div layout:fragment="custom-content">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Add Parcel</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->


    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">


        <span th:class="succes" th:text="${successMsg}"></span>

        <div class="row" th:class="mm">
            <div class="col-lg-8 col-md-12 col-12 col-sm-12">
                <div class="login-brand">
                   Janata International Express
                </div>


                <div class="card card-primary">
                    <div class="card-header"><h4>Add New Parcel</h4></div>
                    <div class="card-body">

                        <form  th:object="${parcel}" th:action="@{/parcel/add}" th:method="POST"
                             >
                            <div class="row">

                                <div class="row">
                                    <!--Branch -->
                                    <div class="form-group col-12">
                                        <label>Branch Name</label>
                                        <select th:field="*{branch}" multiple required>
                                            <option th:each="branch : ${branchList}" th:value="${branch.id}">
                                                <span th:text="${branch.branchName}"></span>
                                            </option>
                                        </select>
                                    </div>

                                    <!--Company-->
                                    <div class="form-group col-12">
                                        <label>Company Name</label>
                                        <select th:field="*{company}" multiple required>
                                            <option th:each="company : ${companyList}" th:value="${company.id}">
                                                <span th:text="${company.companyName}"></span>
                                            </option>
                                        </select>
                                    </div>

                                        <!--User-->
                                    <div class="form-group col-12">
                                        <label>ShippingDetails Name</label>
                                        <select th:field="*{shippingDetails}" multiple required>
                                            <option th:each="shippingDetails : ${shippingDetailsList}" th:value="${shippingDetails.id}">
                                                <span th:text="${shippingDetails.recieverName}"></span>
                                            </option>
                                        </select>
                                    </div>

                                </div>

                                        <!--this.parcelName = parcelName;-->
                                        <!--this.weight = weight;-->
                                        <!--this.height = height;-->
                                        <!--this.length = length;-->

                                <div class="form-group col-12">
                                    <label for="parcelName">parcelName</label>
                                    <input id="parcelName" type="text" th:field="*{parcelName}" class="form-control"
                                           name="parcelName">
                                </div>


                                <div class="form-group col-12">
                                    <label for="weight">weight</label>
                                    <input id="weight" type="text" th:field="*{weight}" class="form-control"
                                           name="weight">
                                </div>


                                <div class="form-group col-12">
                                    <label for="height">height</label>
                                    <input id="height" type="text" th:field="*{height}" class="form-control"
                                           name="height">
                                </div>


                                <div class="form-group col-12">
                                    <label for="length">length</label>
                                    <input id="length" type="text" th:field="*{length}" class="form-control" name="length">
                                </div>


                                <!--this.productType = productType;-->
                                <!--this.sendCountry = sendCountry;-->
                                <!--this.sendState = sendState;-->

                                <div class="form-group col-12">
                                    <label for="productType">productType</label>
                                    <input id="productType" type="text" th:field="*{productType}" class="form-control"
                                           name="productType">
                                </div>

                                <div class="form-group col-12">
                                    <label for="sendCountry">sendCountry</label>
                                    <input id="sendCountry" type="text" th:field="*{sendCountry}" class="form-control" name="sendCountry">
                                </div>

                                <div class="form-group col-12">
                                    <label for="address">Address</label>
                                    <input id="address" type="text" th:field="*{sendState}" class="form-control" name="address">
                                </div>

                                <!--this.deliveryDate = deliveryDate;-->
                                <!--this.bookingDate = bookingDate;-->




                                <!--this.branch = branch;-->
                                <!--this.company = company;-->
                                <!--this.shippingDetails = shippingDetails;-->


                                <!--<div class="form-group col-12">-->
                                    <!--<label for="deliveryDate">deliveryDate</label>-->
                                    <!--<input id="deliveryDate" type="date" th:field="*{deliveryDate}" class="form-control" name="deliveryDate">-->
                                <!--</div>-->

                                <!--<div class="form-group col-12">-->
                                    <!--<label for="bookingDate">Email</label>-->
                                    <!--<input id="bookingDate" type="date" th:field="*{bookingDate}" class="form-control" name="bookingDate">-->
                                <!--</div>-->







                            </div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">
                                    User Registration
                                </button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>

        </div>


        <a th:href="@{/}">Home</a>


    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
</div>

</body>

</html>