<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<aside th:fragment="left" class="left-sidebar" data-sidebarbg="skin5">
<div class="scroll-sidebar" >
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
        <ul id="sidebarnav" class="p-t-30">




                <!-- DashBoard-->
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>


            <!-- Role Class -->
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Roles </span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a  th:href="@{/role/add}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/role/edit}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Edit </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/role/list}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> List </span></a></li>
                </ul>
            </li>



            <!-- User Class-->
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Users </span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a  th:href="@{/user/add}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/user/edit}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Edit </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/user/list}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> List </span></a></li>
                </ul>
            </li>



            <!-- Ngo Class-->
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Ngo</span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a  th:href="@{/ngo/add}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/ngo/edit}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Edit </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/ngo/list}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> List </span></a></li>
                </ul>
            </li>




            <!-- Branch Class -->
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">BranchClass</span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a  th:href="@{/branch/add}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/branch/edit}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Edit </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/branch/list}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> List </span></a></li>
                </ul>
            </li>





            <!-- EmployeeType Class-->
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">EmployeeType</span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a  th:href="@{/empType/add}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/empType/edit}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Edit </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/empType/list}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> List </span></a></li>
                </ul>
            </li>



            <!-- Employee Class-->
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Employees</span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a  th:href="@{/employee/add}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/employee/edit}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Edit </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/employee/list}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> List </span></a></li>
                </ul>
            </li>



            <!-- Nominee Class-->
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Nominee</span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a  th:href="@{/nominee/add}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/nominee/edit}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Edit </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/nominee/list}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> List </span></a></li>
                </ul>
            </li>



            <!-- AccountType Class-->
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">AccountTypes</span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a  th:href="@{/accType/add}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/accType/edit}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Edit </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/accType/list}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> List </span></a></li>
                </ul>
            </li>



            <!-- Account Class-->
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Accounts</span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a  th:href="@{/account/add}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/account/edit}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Edit </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/account/list}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> List </span></a></li>
                </ul>
            </li>



            <!-- AccountSummary Class-->
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">AccountSummary</span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a  th:href="@{/accSummary/add}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/accSummary/edit}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Edit </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/accSummary/list}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> List </span></a></li>
                </ul>
            </li>




            <!-- DepositType Class-->
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">DepositTypes</span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a  th:href="@{/depType/add}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/depType/edit}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Edit </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/depType/list}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> List </span></a></li>
                </ul>
            </li>



            <!-- Deposit Class-->
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Deposits</span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a  th:href="@{/deposit/add}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/deposit/edit}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Edit </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/deposit/list}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> List </span></a></li>
                </ul>
            </li>



            <!-- LoanType Class-->
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">LoanTypes</span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a  th:href="@{/loanType/add}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/loanType/edit}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Edit </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/loanType/list}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> List </span></a></li>
                </ul>
            </li>





            <!-- Loan Class-->
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Loans</span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a  th:href="@{/loan/add}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/loan/edit}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Edit </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/loan/list}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> List </span></a></li>
                </ul>
            </li>



            <!-- CollectionType Class-->
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">CollectionTypes</span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a  th:href="@{/collType/add}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/collType/edit}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Edit </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/collType/list}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> List </span></a></li>
                </ul>
            </li>



            <!-- LoanCollection Class-->
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">LoanCollections</span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a  th:href="@{/loanCollect/add}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/loanCollect/edit}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Edit </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/loanCollect/list}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> List </span></a></li>
                </ul>
            </li>



            <!-- Withdraw Class-->
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Withdraws</span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a  th:href="@{/withdraw/add}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/withdraw/edit}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Edit </span></a></li>
                    <li class="sidebar-item"><a th:href="@{/withdraw/list}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> List </span></a></li>
                </ul>
            </li>


            <!--Reports Class-->
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Reports Summary Class</span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a  th:href="@{/report/totaldepositamount}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">totaldepositamount</span></a></li>
                    <li class="sidebar-item"><a th:href="@{/report/distributedloan}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu">LoanAmount</span></a></li>
                    <li class="sidebar-item"><a th:href="@{/withdraw/list}"  class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> List </span></a></li>
                </ul>
            </li>


            <!-- About Class-->
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/about}" aria-expanded="false"><i class="mdi mdi-chart-bar"></i><span class="hide-menu">About</span></a></li>

            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="widgets.html" aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Widgets</span></a></li>

            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="tables.html" aria-expanded="false"><i class="mdi mdi-border-inside"></i><span class="hide-menu">Tables</span></a></li>

            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="grid.html" aria-expanded="false"><i class="mdi mdi-blur-linear"></i><span class="hide-menu">Full Width</span></a></li>



            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Forms </span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a href="form-basic.html" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Form Basic </span></a></li>
                    <li class="sidebar-item"><a href="form-wizard.html" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Form Wizard </span></a></li>
                </ul>
            </li>


            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="pages-buttons.html" aria-expanded="false"><i class="mdi mdi-relative-scale"></i><span class="hide-menu">Buttons</span></a></li>


            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-face"></i><span class="hide-menu">Icons </span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a href="icon-material.html" class="sidebar-link"><i class="mdi mdi-emoticon"></i><span class="hide-menu"> Material Icons </span></a></li>
                    <li class="sidebar-item"><a href="icon-fontawesome.html" class="sidebar-link"><i class="mdi mdi-emoticon-cool"></i><span class="hide-menu"> Font Awesome Icons </span></a></li>
                </ul>
            </li>



            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="pages-elements.html" aria-expanded="false"><i class="mdi mdi-pencil"></i><span class="hide-menu">Elements</span></a></li>

            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-move-resize-variant"></i><span class="hide-menu">Addons </span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a href="index2.html" class="sidebar-link"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu"> Dashboard-2 </span></a></li>
                    <li class="sidebar-item"><a href="pages-gallery.html" class="sidebar-link"><i class="mdi mdi-multiplication-box"></i><span class="hide-menu"> Gallery </span></a></li>
                    <li class="sidebar-item"><a href="pages-calendar.html" class="sidebar-link"><i class="mdi mdi-calendar-check"></i><span class="hide-menu"> Calendar </span></a></li>
                    <li class="sidebar-item"><a href="pages-invoice.html" class="sidebar-link"><i class="mdi mdi-bulletin-board"></i><span class="hide-menu"> Invoice </span></a></li>
                    <li class="sidebar-item"><a href="pages-chat.html" class="sidebar-link"><i class="mdi mdi-message-outline"></i><span class="hide-menu"> Chat Option </span></a></li>
                </ul>
            </li>



            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-account-key"></i><span class="hide-menu">Authentication </span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a href="authentication-login.html" class="sidebar-link"><i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Login </span></a></li>
                    <li class="sidebar-item"><a href="authentication-register.html" class="sidebar-link"><i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Register </span></a></li>
                </ul>
            </li>


            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-alert"></i><span class="hide-menu">Errors </span></a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item"><a href="error-403.html" class="sidebar-link"><i class="mdi mdi-alert-octagon"></i><span class="hide-menu"> Error 403 </span></a></li>
                    <li class="sidebar-item"><a href="error-404.html" class="sidebar-link"><i class="mdi mdi-alert-octagon"></i><span class="hide-menu"> Error 404 </span></a></li>
                    <li class="sidebar-item"><a href="error-405.html" class="sidebar-link"><i class="mdi mdi-alert-octagon"></i><span class="hide-menu"> Error 405 </span></a></li>
                    <li class="sidebar-item"><a href="error-500.html" class="sidebar-link"><i class="mdi mdi-alert-octagon"></i><span class="hide-menu"> Error 500 </span></a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- End Sidebar navigation -->
</div>
<!-- End Sidebar scroll-->
</aside>
</body>
</html>