<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Janata International Express</title>

    <![endif]-->

    <style type="text/css">
        .err {
            color: red;
        }

        .succes {
            color: green;
        }
    </style>


</head>

<body>
<div layout:fragment="custom-content">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h2 class="page-title">Janata International Express</h2>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->



    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid" >


        <span th:class="succes" th:text="${successMsg}"></span>

        <div class="col-lg-8 col-md-12 col-12 col-sm-12">
            <div class="login-brand">
                A new Perspective of Business Delivery
            </div>

            <div>
                <div class="card card-primary">
                    <div class="card-header"><h5>Edit Employee</h5></div>
                    <div class="card-body">
                        <form th:object="${employee}" action="#" th:action="@{/employee/edit/} + ${id}" th:method="POST">
                            <input type="hidden" th:value="*{id}" th:action="${employee.id}"/>

                            <div class="row">


                                <!--this.firstName = firstName;-->
                                <!--this.lastName = lastName;-->
                                <!--this.age = age;-->


                                <div class="form-group col-12">
                                    <label for="firstName">First Name</label>
                                    <input id="firstName" type="text" th:field="*{firstName}" class="form-control"
                                           name="firstName">
                                </div>


                                <div class="form-group col-12">
                                    <label for="lastName">Last Name</label>
                                    <input id="lastName" type="text" th:field="*{lastName}" class="form-control"
                                           name="lastName">
                                </div>


                                <div class="form-group col-12">
                                    <label for="age">Age</label>
                                    <input id="age" type="text" th:field="*{age}" class="form-control"
                                           name="code">
                                </div>

                                <!--this.joiningDate = joiningDate;-->
                                <!--this.gender = gender;-->
                                <!--this.birthDate = birthDate;-->

                                <!--<div class="form-group col-12">-->
                                <!--<label for="joiningDate">Joining Date</label>-->
                                <!--<input id="joiningDate" type="Date" th:field="*{joiningDate}" class="form-control" name="joiningDate">-->
                                <!--</div>-->

                                <div class="form-group col-12">
                                    <label>Gender</label>
                                    <input id="Mgender" type="radio" th:field="*{gender}" th:value="male"
                                           class="form-control" name="gender">Male
                                    <input id="Fgender" type="radio" th:field="*{gender}" th:value="female"
                                           class="form-control" name="gender">Female
                                </div>

                                <!--<div class="form-group col-12">-->
                                <!--<label for="gender">Gender</label>-->
                                <!--<input id="gender" type="text" th:field="*{gender}" class="form-control" name="gender">-->
                                <!--</div>-->


                                <div class="form-group col-12">
                                    <label for="birthDate">Birth Date</label>
                                    <input id="birthDate" type="Date" th:field="*{birthDate}" class="form-control" name="birthDate">
                                </div>

                                <!--this.salary = salary;-->
                                <!--this.bloodGroup = bloodGroup;-->
                                <!--this.address = address;-->

                                <div class="form-group col-12">
                                    <label for="salary">Salary</label>
                                    <input id="salary" type="text" th:field="*{salary}" class="form-control"
                                           name="salary">
                                </div>

                                <div class="form-group col-12">
                                    <label for="bloodGroup">Blood Group</label>
                                    <input id="bloodGroup" type="text" th:field="*{bloodGroup}" class="form-control" name="bloodGroup">
                                </div>

                                <div class="form-group col-12">
                                    <label for="address">Address</label>
                                    <input id="address" type="text" th:field="*{address}" class="form-control" name="address">
                                </div>

                                <!--this.contactNo = contactNo;-->
                                <!--this.email = email;-->
                                <div class="form-group col-12">
                                    <label for="contactNo">Contact No</label>
                                    <input id="contactNo" type="text" th:field="*{contactNo}" class="form-control" name="contactNo">
                                </div>

                                <div class="form-group col-12">
                                    <label for="email">Email</label>
                                    <input id="email" type="text" th:field="*{email}" class="form-control" name="email">
                                </div>

                                <!--this.branch = branch;-->
                                <!--this.company = company;-->
                                <!--this.user = user;-->
                            </div>




                            <div class="form-group">
                                <button class="btn btn-primary btn-block">
                                    Update Employee
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--<a th:href="@{/}">Home</a>-->

        <div class="container">
            <a class="btn btn-primary pull-right" th:href="@{/role/add}" type="submit">back</a>
            <a class="btn btn-primary pull-right" th:href="@{/role/list}" type="submit">Next</a>

        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
</div>

</body>

</html>