<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>NMS Template - The Ultimate Multipurpose admin template</title>

<![endif]-->
<!--
    <style type="text/css">
        table {
            width: 80%;
            margin: 0 auto;
        }
    </style>
-->

    <style>
        .mm{
            margin-left: 20px;
            margin-right: 20px;
        }
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even){background-color:#f5c6cb;}

        #customers tr:hover {background-color:#f3c17a;}

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #0e2259;
            color: white;
        }
    </style>


</head>

<body>
<div layout:fragment="custom-content">
     <!-- ============================================================== -->
     <!-- Bread crumb and right sidebar toggle -->
     <!-- ============================================================== -->
     <div class="page-breadcrumb">
         <div class="row">
             <div class="col-12 d-flex no-block align-items-center">
                 <h4 class="page-title">Mahananda Rural Development Program(NMS)</h4>
                 <div class="ml-auto text-right">
                     <nav aria-label="breadcrumb">
                         <ol class="breadcrumb">
                             <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                             <li class="breadcrumb-item active" aria-current="page">Library</li>
                         </ol>
                     </nav>
                 </div>
             </div>
         </div>
     </div>
     <!-- ============================================================== -->
     <!-- End Bread crumb and right sidebar toggle -->
     <!-- ============================================================== -->


     <!-- ============================================================== -->
     <!-- Container fluid  -->
     <!-- ============================================================== -->
     <div class="container-fluid" >


         <div class="container">
             <div class="row">
                 NGOs play an important role in social, economic, human rights development of developing countries.

                 <div class="col-10">
                     <h2>AccountSummary Data Details With Sample Data</h2>
                 </div>
                 <div class="col-2">
                     <a class="btn" th:href="@{/list}">AccountSummary List</a>
                 </div>
             </div>

             <div class="table-responsive">
             <table id="customers">
                 <tr>
                     <th>ID</th>
                     <th>t_depo_amount</th>
                     <th>prof_In_depo_amount</th>
                     <th>t_depo_amount_w_profit</th>
                     <th>wid_depo_amount</th>
                     <th>avail_depo_amount</th>
                     <th>n_of_loan_taken</th>
                     <th>n_of_loan_paid</th>
                     <th>n_of_loan_due</th>
                     <th>t_loan_amount</th>
                     <th>t_loan_paid_amount</th>
                     <th>t_loan_due_amount</th>
                     <th>cur_loan_amount</th>
                     <th>cur_loan_paid_amount</th>
                     <th>cur_loan_due_amount</th>

                     <th>AccountCodeNumber</th>

                     <th colspan="2">Action</th>
                 </tr>
                 <!--
                              this.totalDepositAmount = totalDepositAmount;
                              this.profitInDepositAmount = profitInDepositAmount;
                              this.totalDepositAmountWithProfit = totalDepositAmountWithProfit;
                              this.widthrewDepositAmount = widthrewDepositAmount;
                              this.availableDepositAmount = availableDepositAmount;
                              this.noOfLoanTaken = noOfLoanTaken;
                              this.noOfLoanPaid = noOfLoanPaid;
                              this.noOfLoanDue = noOfLoanDue;
                              this.totalLoanAmount = totalLoanAmount;
                              this.totalLoanPaidAmount = totalLoanPaidAmount;
                              this.totalLoanDueAmount = totalLoanDueAmount;
                              this.currentLoanAmount = currentLoanAmount;
                              this.currentLoanPaidAmount = currentLoanPaidAmount;
                              this.currentLoanDueAmount = currentLoanDueAmount;

                              this.account = account;
                                                        -->
                 <tr th:each="accountSummary : ${list}">
                     <td th:text="${accountSummary.id}"></td>
                     <td th:text="${accountSummary.totalDepositAmount}"></td>
                     <td th:text="${accountSummary.profitInDepositAmount}"></td>
                     <td th:text="${accountSummary.totalDepositAmountWithProfit}"></td>
                     <td th:text="${accountSummary.widthrewDepositAmount}"></td>
                     <td th:text="${accountSummary.availableDepositAmount}"></td>
                     <td th:text="${accountSummary.noOfLoanTaken}"></td>
                     <td th:text="${accountSummary.noOfLoanPaid}"></td>
                     <td th:text="${accountSummary.noOfLoanDue}"></td>
                     <td th:text="${accountSummary.totalLoanAmount}"></td>
                     <td th:text="${accountSummary.totalLoanPaidAmount}"></td>
                     <td th:text="${accountSummary.totalLoanDueAmount}"></td>
                     <td th:text="${accountSummary.currentLoanAmount}"></td>
                     <td th:text="${accountSummary.currentLoanPaidAmount}"></td>
                     <td th:text="${accountSummary.currentLoanDueAmount}"></td>

                     <td th:text="${accountSummary.account.accountCodeNumber}"></td>


                     <td><a th:href="@{'/accSummary/edit/'+${accountSummary.id}}">Edit</a></td>
                     <td><a th:href="@{'/accSummary/del/'+${accountSummary.id}}">Delete</a></td>

                 </tr>
             </table>
             </div>


         </div>


         <a th:href="@{/}">Home</a>

     </div>
     <!-- ============================================================== -->
     <!-- End Container fluid  -->
     <!-- ============================================================== -->
     <!-- ============================================================== -->
</div>

</body>

</html>