<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title> Janata Internationanl Express</title>

    <!--[endif]-->


    <style type="text/css">
        .err {
            color: red;
        }

        .succes {
            color: green;
        }

        .mm {
            margin-left: 30px;
        }
    </style>

</head>

<body>
<div layout:fragment="custom-content">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h2 class="page-title"> Janata Internationanl Express</h2>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">  <a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->


    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">


        <span th:class="succes" th:text="${successMsg}"></span>

        <div class="row" th:class="mm">
            <div class="col-lg-8 col-md-12 col-12 col-sm-12">
                <div class="login-brand">
                    A new Perspective of Business Delivery
                </div>


                <div class="card card-primary">
                    <div class="card-header"><h4>Add New Company</h4></div>
                    <div class="card-body">

                        <form  th:object="${company}" th:action="@{/company/add}" th:method="POST"
                              enctype="multipart/form-data">

                            <div class="row">

                                <!--<div class="row">-->
                                    <!--<div class="form-group col-12">-->
                                        <!--<label>Company Name</label>-->
                                        <!--<select th:field="*{roles}" multiple required>-->
                                            <!--<option th:each="role : ${roleList}" th:value="${role.id}">-->
                                                <!--<span th:text="${role.roleName}"></span>-->
                                            <!--</option>-->
                                        <!--</select>-->

                                    <!--</div>-->
                                <!--</div>-->
                                <!--companyName, regNo, estdDate, location, address, contactNo, email-->

                                <div class="form-group col-12">
                                    <label for="companyName">Company Name</label>
                                    <input id="companyName" type="text" th:field="*{companyName}" class="form-control"
                                           name="companyName" placeholder="Enter companyName"/>
                                </div>

                                <div class="form-group col-12">
                                    <label for="regNo">Registration No </label>
                                    <input id="regNo" type="text" th:field="*{regNo}" class="form-control"
                                           name="regNo" placeholder="Eenter regNo">
                                </div>


                                <div class="form-group col-12">
                                    <label for="estdDate">Estatblist Date</label>
                                    <input id="estdDate" type="date" th:field="*{estdDate}" class="form-control"
                                           name="estdDate" placeholder="Enter establist Date">
                                </div>



                                <div class="form-group col-12">
                                    <label for="location">Location</label>
                                    <input id="location" type="text" th:field="*{location}" class="form-control"
                                           name="location" placeholder="Enter location">
                                </div>


                                <div class="form-group col-12">
                                    <label for="address">Address</label>
                                    <input id="address" type="text" th:field="*{address}" class="form-control"
                                           name="address" placeholder="Enter location">
                                </div>
                                <div class="form-group col-12">
                                    <label for="contactNo">Contract No</label>
                                    <input id="contactNo" type="text" th:field="*{contactNo}" class="form-control"
                                           name="contactNo" placeholder="Enter contract number">
                                </div>

                                <div class="form-group col-12">
                                    <label for="email">Email</label>
                                    <input id="email" type="text" th:field="*{email}" class="form-control" name="email" placeholder="Enter Email ID">
                                </div>




                            </div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">
                                   Save
                                </button>
                            </div>

                            <a class="btn btn-primary pull-right" th:href="@{/company/list}" type="submit">Next</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>





    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
</div>

</body>

</html>