<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>NMS Template - The Ultimate Multipurpose admin template</title>

<![endif]-->

    <style type="text/css">
        .err {
            color: red;
        }

        .succes {
            color: green;
        }
    </style>


</head>

<body>
<div layout:fragment="custom-content">
     <!-- ============================================================== -->
     <!-- Bread crumb and right sidebar toggle -->
     <!-- ============================================================== -->
     <div class="page-breadcrumb">
         <div class="row">
             <div class="col-12 d-flex no-block align-items-center">
                 <h4 class="page-title">Mahananda Rural Development Programs(NMS)</h4>
                 <div class="ml-auto text-right">
                     <nav aria-label="breadcrumb">
                         <ol class="breadcrumb">
                             <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                             <li class="breadcrumb-item active" aria-current="page">Library</li>
                         </ol>
                     </nav>
                 </div>
             </div>
         </div>
     </div>
     <!-- ============================================================== -->
     <!-- End Bread crumb and right sidebar toggle -->
     <!-- ============================================================== -->


     <!-- ============================================================== -->
     <!-- Container fluid  -->
     <!-- ============================================================== -->
     <div class="container-fluid" >


         <div class="row" th:class="mm">
             <div class="col-lg-8 col-md-12 col-12 col-sm-12">
                 <div class="login-brand">
                     NGOs play a critical part in developing society, improving communities, and promoting citizen.

                 </div>


                 <div class="card card-primary">
                     <div class="card-header"><h4>Edit LoanCollection</h4></div>
                     <div class="card-body">

                         <form action="#" th:object="${loanCollection}" th:action="@{/loanCollect/add}" th:method="POST" enctype="multipart/form-data">

                             <div class="row">

                                 <div class="row">

                                     <div class="form-group col-12">
                                         <label>Employee Number</label>
                                         <select th:field="*{employee}" multiple required>
                                             <option th:each="employee : ${employeeList}" th:value="${employee.id}">
                                                 <span th:text="${employee.employeeName}"></span>
                                             </option>
                                         </select>
                                     </div>

                                     <div class="form-group col-12">
                                         <label>Account Number</label>
                                         <select th:field="*{account}" multiple required>
                                             <option th:each="account : ${accountList}" th:value="${account.id}">
                                                 <span th:text="${account.accountNumber}"></span>
                                             </option>
                                         </select>
                                     </div>

                                     <div class="form-group col-12">
                                         <label>Loan_Code_Number</label>
                                         <select th:field="*{loan}" multiple required>
                                             <option th:each="loan : ${loanList}" th:value="${loan.id}">
                                                 <span th:text="${loan.loanCodeNumber}"></span>
                                             </option>
                                         </select>
                                     </div>

                                     <div class="form-group col-12">
                                         <label>Branch Name</label>
                                         <select th:field="*{branch}" multiple required>
                                             <option th:each="branch : ${branchList}" th:value="${branch.id}">
                                                 <span th:text="${branch.branchName}"></span>
                                             </option>
                                         </select>
                                     </div>

                                     <div class="form-group col-12">
                                         <label>CollectionTypeName</label>
                                         <select th:field="*{collectionType}" multiple required>
                                             <option th:each="collectionType : ${collectionTypeList}" th:value="${collectionType.id}">
                                                 <span th:text="${collectionType.typeName}"></span>
                                             </option>
                                         </select>
                                     </div>


                                 </div>



                                 <div class="form-group col-12">
                                     <label for="ngoOfTotalAmount">Ngo_Of_Total_Amount</label>
                                     <input id="ngoOfTotalAmount" type="text" th:field="*{ngoOfTotalAmount}" class="form-control" name="ngoOfTotalAmount" placeholder="Enter ngoOfTotalAmount"/>
                                 </div>


                                 <!--

        this.ngoOfTotalAmount = ngoOfTotalAmount;
        this.collectedKistiNo = collectedKistiNo;
        this.ngoOfCollectedAmount = ngoOfCollectedAmount;

        this.collectionDate = collectionDate;

        this.employee = employee;
        this.account = account;
        this.loan = loan;
        this.branch = branch;
        this.collectionType = collectionType;
                                                        -->
                                 <div class="form-group col-12">
                                     <label for="collectedKistiNo">Collected_Kisti_No</label>
                                     <input id="collectedKistiNo" type="text" th:field="*{collectedKistiNo}" class="form-control" name="collectedKistiNo" placeholder="Enter collectedKistiNo"/>
                                 </div>


                                 <div class="form-group col-12">
                                     <label for="ngoOfCollectedAmount">Ngo_Of_Collected_Amount</label>
                                     <input id="ngoOfCollectedAmount" type="text" th:field="*{ngoOfCollectedAmount}" class="form-control" name="ngoOfCollectedAmount" placeholder="Enter ngoOfCollectedAmount"/>
                                 </div>


                             </div>



                             <div class="form-group">
                                 <button type="submit" class="btn btn-primary btn-block">
                                  Update LoanCollection Information
                                 </button>
                             </div>


                         </form>
                     </div>
                 </div>
             </div>



         </div>


         <a th:href="@{/}">Home</a>

     </div>
     <!-- ============================================================== -->
     <!-- End Container fluid  -->
     <!-- ============================================================== -->
     <!-- ============================================================== -->
</div>

</body>

</html>