<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="custom-content">
    <h2>Create User</h2>
    <form th:object="${user}" th:action="@{/user/create}" th:method="post">
        <table>

            <tr>
                <td><label>UserName</label></td>
                <td><input type="text" required th:field="*{userName}"/></td>
            </tr>

            <tr>
                <td><label>Password</label></td>
                <td><input type="password" required th:field="*{password}"/></td>
            </tr>

            <tr>
                <td><label>firstName</label></td>
                <td> <input type="text" required th:field="*{firstName}"/></td>
            </tr>

            <tr>
                <td><label>LastName</label></td>
                <td> <input type="text" required th:field="*{lastName}"/></td>
            </tr>

            <tr>
                <td><label>email</label></td>
                <td>  <input type="email" required th:field="*{email}"/></td>
            </tr>

            <tr>
                <td><label>mobile</label></td>
                <td>  <input type="text" required th:field="*{mobile}"/></td>
            </tr>

            <tr>
                <td><label>joiningDate</label></td>
                <td>  <input type="date" required th:field="*{joiningDate}"/></td>
            </tr>

<!--            <tr>-->
<!--                <td><label>Actice</label></td>-->
<!--                <td>  <input type="checkbox" required th:field="*{isActice}" th:value=true/></td>-->
<!--                <td>  <input type="checkbox" required th:field="*{isActice}" th:value=false/></td>-->
<!--            </tr>-->

            <tr>
                <td><label>activationKey</label></td>
                <td>    <input type="text" required th:field="*{activationKey}"/></td>
            </tr>
            <tr>
                <td><label>resetPasswordKey</label></td>
                <td>   <input type="password" required th:field="*{resetPasswordKey}"/></td>
            </tr>
            <tr>
                <td></td>
                <td> <button type="submit">Save</button></td>
            </tr>
        </table>













    </form>
</div>

</body>
</html>