<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title> Janata International Express</title>

    <!--[endif]-->


    <style type="text/css">
        .err {
            color: red;
        }

        .succes {
            color: green;
        }

        .mm {
            margin-left: 30px;
        }
    </style>

</head>

<body>
<div layout:fragment="custom-content">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h2 class="page-title"> Janata International Express</h2>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">  <a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->


    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">


        <span th:class="succes" th:text="${successMsg}"></span>

        <div class="row" th:class="mm">
            <div class="col-lg-8 col-md-12 col-12 col-sm-12">
                <div class="login-brand">
                    A new Perspective of Business Delivery
                </div>


                <div class="card card-primary">
                    <div class="card-header"><h4>Add New User</h4></div>
                    <div class="card-body">

                        <form  th:object="${user}" th:action="@{/user/add}" th:method="POST"
                              enctype="multipart/form-data">

                            <div class="row">

                                <div class="row">
                                    <div class="form-group col-12">
                                        <label>Role Name</label>
                                        <select th:field="*{roles}" multiple required>
                                            <option th:each="role : ${roleList}" th:value="${role.id}">
                                                <span th:text="${role.roleName}"></span>
                                            </option>
                                        </select>

                                    </div>
                                </div>






                                <!--this.username = username;-->
                                <!--this.firstName = firstName;-->
                                <!--this.lastName = lastName;-->


                                <div class="form-group col-12">
                                    <label for="username">UserName</label>
                                    <input id="username" type="text" th:field="*{username}" class="form-control"
                                           name="username" placeholder="Enter user name">
                                </div>


                                <div class="form-group col-12">
                                    <label for="firstName">FirstName</label>
                                    <input id="firstName" type="text" th:field="*{firstName}" class="form-control"
                                           name="firstName" placeholder="Enter your first name">
                                </div>


                                <div class="form-group col-12">
                                    <label for="lastName">LastName</label>
                                    <input id="lastName" type="text" th:field="*{lastName}" class="form-control"
                                           name="lastName" placeholder="Enter your last name">
                                </div>


                                <!--this.birthDate = birthDate;-->
                                <!--this.age = age;-->
                                <!--this.gender = gender;-->


                                <div class="form-group col-12">
                                    <label for="birthDate">BirthDate</label>
                                    <input id="birthDate" type="date" th:field="*{birthDate}" class="form-control"
                                           name="birthDate">
                                </div>


                                <div class="form-group col-12">
                                    <label for="age">Age</label>
                                    <input id="age" type="text" th:field="*{age}" class="form-control" name="age"
                                    placeholder="Enter your current age"
                                    >
                                </div>


                                <div class="form-group col-12">
                                    <label>Gender</label>
                                    <input id="Mgender" type="radio" th:field="*{gender}" th:value="male"
                                           class="form-control" name="gender">Male
                                    <input id="Fgender" type="radio" th:field="*{gender}" th:value="female"
                                           class="form-control" name="gender">Female
                                </div>


                                <!--this.address = address;-->
                                <!--this.regiDate = regiDate;-->
                                <!--this.email = email;-->



                                <div class="form-group col-12">
                                    <label for="address">Address</label>
                                    <input id="address" type="text" th:field="*{address}" class="form-control"
                                           name="address" placeholder="Enter your present address">
                                </div>

                                <!--<div class="form-group col-12">-->
                                <!--<label for="regiDate">regiDate</label>-->
                                <!--<input id="regiDate" type="text" th:field="*{regiDate}" class="form-control"-->
                                <!--name="regiDate">-->
                                <!--</div>-->

                                <div class="form-group col-12">
                                    <label for="email">Email</label>
                                    <input id="email" type="text" th:field="*{email}" class="form-control" name="email"
                                    placeholder="Enter your valid email address"
                                    >
                                </div>


                                <!--this.mobile = mobile;-->
                                <!--this.lastModifiedDate = lastModifiedDate;-->
                                <!--this.password = password;-->




                                <div class="form-group col-12">
                                    <label for="mobile">Mobile</label>
                                    <input id="mobile" type="text" th:field="*{mobile}" class="form-control"
                                           name="mobile" placeholder="Enter your contact number">
                                </div>

                                <!--<div class="form-group col-12">-->
                                    <!--<label for="lastModifiedDate">lastModifiedDate</label>-->
                                    <!--<input id="lastModifiedDate" type="text" th:field="*{lastModifiedDate}" class="form-control"-->
                                           <!--name="lastModifiedDate">-->
                                <!--</div>-->

                                <div class="form-group col-12">
                                    <label for="password">password</label>
                                    <input id="password" type="text" th:field="*{password}" class="form-control"
                                           name="password" placeholder="Enter your password">
                                </div>



                                <!--this.status = status;-->
                                <!--this.conformationToken = conformationToken;-->
                                <!--this.roles = roles;-->

                                <div class="form-group col-12">
                                    <label for="status">status</label>
                                    <input id="status" type="text" th:field="*{status}" class="form-control"
                                           name="status" >
                                </div>
                                <div class="form-group col-12">
                                    <label for="conformationToken">conformationToken</label>
                                    <input id="conformationToken" type="text" th:field="*{conformationToken}" class="form-control"
                                           name="conformationToken" placeholder="Say yes or no">
                                </div>
                                <!--<div class="form-group col-12">-->
                                    <!--<label for="roles">roles</label>-->
                                    <!--<input id="roles" type="text" th:field="*{roles}" class="form-control"-->
                                           <!--name="roles">-->
                                <!--</div>-->

                            </div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">
                                  Save
                                </button>
                            </div>

                            <a class="btn btn-primary pull-right" th:href="@{/user/list}" type="submit">Next</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="container">-->
            <!--&lt;!&ndash;<a class="btn btn-primary pull-right" th:href="@{/role/add}" type="submit">back</a>&ndash;&gt;-->
            <!--<a class="btn btn-primary pull-right" th:href="@{/user/list}" type="submit">Next</a>-->

        <!--</div>-->







    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
</div>

</body>

</html>