<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Add Ngo</title>

    <!--[endif]-->


    <style type="text/css">
        .err {
            color: red;
        }

        .succes {
            color: green;
        }
    </style>

</head>

<body>
<div layout:fragment="custom-content">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Add Ngo</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->


    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">


        <span th:class="succes" th:text="${successMsg}"></span>
        <div class="row" th:class="mm">
            <div class="col-lg-8 col-md-12 col-12 col-sm-12">
                <div class="login-brand">
                    Ngo System
                </div>


                <div class="card card-primary">
                    <div class="card-header"><h4>Add New Ngo</h4></div>
                    <div class="card-body">

                        <form action="#" th:object="${ngo}" th:action="@{/ngo/add}" th:method="POST">
                            <div class="row">

                                <!--
                                <div class="form-group col-12">
                                    <label for="ngo_id">Ngo Id</label>
                                    <input id="ngo_id" type="text" th:field="*{id}" class="form-control" name="ngo_id" autofocus>
                                </div>-->


                                <div class="form-group col-12">
                                    <label for="ngo_name">Ngo Name</label>
                                    <input id="ngo_name" type="text" th:field="*{name}" class="form-control"
                                           name="ngo_name">
                                </div>


                                <div class="form-group col-12">
                                    <label for="ngo_w_name">Ngo Owner Name</label>
                                    <input id="ngo_w_name" type="text" th:field="*{ownersName}" class="form-control"
                                           name="ngo_w_name">
                                </div>

                                <!--
                                 <div class="form-group col-12">
                                     <label for="bdate">ngo_Regi_Date:</label>
                                     <input type="date" th:field="*{ngoRegiDate}" class="form-control" id="bdate"/>
                                     <!--<div class="col-sm-4"><label th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></label></div>

                                 </div>
                             -->


                                <div class="form-group col-12">
                                    <label for="ngo_address">Ngo Address</label>
                                    <input id="ngo_address" type="text" th:field="*{address}" class="form-control"
                                           name="ngo_address">
                                </div>


                                <div class="form-group col-12">
                                    <label for="ngo_mobile">Ngo Mobile</label>
                                    <input id="ngo_mobile" type="text" th:field="*{mobile}" class="form-control"
                                           name="ngo_mobile">
                                </div>


                                <div class="form-group col-12">
                                    <label for="ngo_email">Ngo Email</label>
                                    <input id="ngo_email" type="text" th:field="*{email}" class="form-control"
                                           name="ngo_email">
                                </div>


                                <div class="form-group col-12">
                                    <label for="ngo_service">Ngo Service</label>
                                    <input id="ngo_service" type="text" th:field="*{ngoService}" class="form-control"
                                           name="ngo_service">
                                </div>


                            </div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Add Ngo
                                </button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
</div>

</body>

</html>